.venv
.DS_Store
**/.DS_Store
.idea

# Ignore all data by default
data/*

# Keep the gitkeep marker
!data/.gitkeep

# Pre-computed datas required to run the application without the datapipeline
!data/capitolwatch.db
!data/manual_overrides.json
!data/feature_store/
!data/visualizations/

.env
.github/copilot-instructions.md
.docs

# Coverage reports
.coverage
coverage.xml
htmlcov/
