.venv
.DS_Store
**/.DS_Store
.idea

# Ignore all data by default
data/*
# Pre-computed data required to run the application without the datapipeline
!data/capitolwatch.db
!data/manual_overrides.json
!data/outputs/

.env
.github/copilot-instructions.md
.docs
.vscode

# Coverage reports
.coverage
coverage.xml
htmlcov/
